{erl_opts, [
            debug_info,
            warnings_as_errors,
            {parse_transform, lager_transform},
            {platform_define, "^(2[1-9])", open_returns_map}
           ]}.

{deps, [
        {lager, {git, "https://github.com/basho/lager.git", {branch, "master"}}},
        {ej, {git, "https://github.com/chef/ej.git", {branch, "master"}}},
        {jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}}
       ]}.

{profiles, [
    {test, [
            {erl_opts, [nowarn_export_all]}
           ]}
]}.



%% Xref
{xref_warnings, false}.
{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
